<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/infobox.css' %}" rel="stylesheet">
     <script src="{% static 'js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap" rel="stylesheet">

    <title>Airline Detail</title>
</head>
<body>
<div class="container">
    <div class="row valign-wrapper card-area">
        <div class="col s6">
            <h2>{{ name }} </h2>

        </div>


        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title indigo-text text-darken-4">{{ title }}</span>
                </div>
                <div class="divider"></div>

                <div class="card-content">

                     <p><b>IATA : </b> {{ iata }}</p>
                    <p><b>ICAO : </b> {{ icao }}</p>
                    <p><b>Country Of Origin : </b> {{ country }}</p>
                    <p><b>Status : </b> {{ status }}</p>
                     <p><b>Callsign : </b> {{ callsign }}</p>

                     <p><b>Fleet Size : </b> {{ fleet_size }}</p>

                     <p><b>Headquarter : </b> <a href="{{ headquarter_link }}" target="_blank">{{ headquarter }}</a></p>
                    <p><b>Hub Airport : </b> <a href="{{ hub_airport_link }}" target="_blank">{{ hub_airport }}</a></p>
                    <p><b>Slogan : </b> {{ slogan }}</p>


                    <div class="section">
                        <p><b></b></p>

                        <table class="" id="billboard">
                            <thead>
                            <tr>
{#                                {% for x in byear %}#}
{##}
{#                                    <th>#}
{#                                        {{ x }}#}
{#                                    </th>#}
{##}
{#                                {% endfor %}#}
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
{#                                {% for y in brank %}#}
{##}
{#                                    <td>#}
{#                                        {{ y }}#}
{#                                    </td>#}
{##}
{#                                {% endfor %}#}
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active indigo-text text-darken-4" href="#abstract-content">ABSTRACT</a></li>
                        <li class="tab"><a class = "indigo-text text-darken-4" href="#lyrics-content">COMMENTS</a></li>

                    </ul>
                </div>




                <div class="card-content scroll-box indigo lighten-4">
                    <div id="abstract-content">{{ abstract }}</div>
                    <div id="lyrics-content">
                        <div class="lyric-section">{{ comment }}</div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    //var instance = M.Tabs.init(el, options);

    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
</html>
